In [99]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [100]:
df = pd.read_csv('Churn_Modelling.csv')

In [101]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [102]:
df.drop(columns= ['RowNumber', 'CustomerId', 'Surname'], inplace=True)

In [103]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [104]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

In [105]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [106]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [107]:
X = df.drop(columns= 'Exited')
y = df['Exited']

In [108]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [109]:
X = pd.get_dummies(X, ['Gender', 'Geography'], dtype= int, drop_first= True)

In [110]:
from sklearn.model_selection import train_test_split

In [111]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size= 0.3, random_state= 42)

In [112]:
X_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Gender_Germany,Gender_Spain,Geography_Male
5525,624,51,10,123401.43,2,1,1,127825.25,0,0,1
771,717,31,4,129722.57,1,0,0,41176.60,0,0,1
7839,566,21,3,0.00,2,1,1,3626.47,0,0,0
2395,672,52,8,170008.84,1,0,0,56407.42,0,0,1
1478,649,45,5,92786.66,1,1,0,173365.90,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
5734,768,54,8,69712.74,1,1,1,69381.05,0,0,1
5191,682,58,1,0.00,1,1,1,706.50,0,0,0
5390,735,38,1,0.00,3,0,0,92220.12,0,0,0
860,667,43,8,190227.46,1,1,0,97508.04,0,0,1
7270,697,51,1,147910.30,1,1,1,53581.14,1,0,1

In [113]:
X_test

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Gender_Germany,Gender_Spain,Geography_Male
6252,596,32,3,96709.07,2,0,0,41788.37,1,0,1
4684,623,43,1,0.00,2,1,1,146379.30,0,0,1
1731,601,44,4,0.00,2,1,0,58561.31,0,1,0
4742,506,59,8,119152.10,2,1,1,170679.74,1,0,1
4521,560,27,7,124995.98,1,1,1,114669.79,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
193,601,32,8,93012.89,1,1,0,86957.42,0,0,1
5611,625,42,6,100047.33,1,1,0,93429.95,1,0,1
2901,498,73,2,170241.70,2,1,1,165407.96,0,0,1
578,593,41,6,0.00,1,1,0,65170.66,0,0,0
6219,636,37,1,115137.26,1,1,0,52484.01,0,1,1

In [114]:
ss = StandardScaler()
X_train = ss.fit_transform(X_train)
X_test = ss.fit_transform(X_test)

In [115]:
import torch
import torch.nn as nn
import torch.functional as F
import torch.utils as utils
from torch.utils.data import DataLoader, TensorDataset

In [116]:
# X_train = torch.tensor(X_train, dtype= torch.float32)
# X_test = torch.tensor(X_test, dtype= torch.float32)
# # y_train = y_train.reshape(-1,1)
# # y_test = y_test.reshape(-1,1)
# y_train = torch.tensor(y_train.values, dtype=torch.float32)
# y_test = torch.tensor(y_test.values, dtype=torch.float32)

In [117]:
X_train = torch.tensor(X_train, dtype=torch.float32)
X_test = torch.tensor(X_test, dtype=torch.float32)

# Check if y_train and y_test are pandas Series or DataFrames
# If they are, extract the values
try:
    y_train = torch.tensor(y_train.values, dtype=torch.float32).reshape(-1, 1)
    y_test = torch.tensor(y_test.values, dtype=torch.float32).reshape(-1, 1)
except AttributeError:
    # If y_train and y_test are already numpy arrays or lists
    y_train = torch.tensor(y_train, dtype=torch.float32).reshape(-1, 1)
    y_test = torch.tensor(y_test, dtype=torch.float32).reshape(-1, 1)

# Create dataset and dataloader
train_dataset = TensorDataset(X_train, y_train)
test_dataset = TensorDataset(X_test, y_test)
train_loader = DataLoader(dataset=train_dataset, batch_size=32, shuffle=True)
test_loader = DataLoader(dataset=test_dataset, batch_size=32, shuffle=False)

# Define the input size from the data
input_size = X_train.shape[1]
hidden = 32
output = 1

# Functional API implementation
class ANN(nn.Module):
    def __init__(self, input_size=input_size, hidden=32, output=1):
        super(ANN, self).__init__()
        self.fc1 = nn.Linear(input_size, hidden)
        self.fc2 = nn.Linear(hidden, output)

    def forward(self, x):
        x = torch.relu(self.fc1(x))
        # Don't apply ReLU on the output layer as we want sigmoid activation
        x = self.fc2(x)
        x = torch.sigmoid(x)
        return x

# Sequential API implementation
class ANNSequential(nn.Module):
    def __init__(self, input_size=input_size, hidden=32, output=1):
        super(ANNSequential, self).__init__()
        self.model = nn.Sequential(
            nn.Linear(input_size, hidden),
            nn.ReLU(),
            nn.Linear(hidden, output),
            nn.Sigmoid()
        )

    def forward(self, x):
        return self.model(x)

def train_function(model, train_loader, epochs=100):
    optimizer = torch.optim.Adam(model.parameters(), lr=0.01)
    criterion = nn.BCELoss()  # Binary Cross Entropy Loss

    for epoch in range(epochs):
        model.train()
        running_loss = 0
        for inputs, labels in train_loader:
            optimizer.zero_grad()
            outputs = model(inputs)
            loss = criterion(outputs, labels)
            loss.backward()
            optimizer.step()
            running_loss += loss.item()

        if (epoch+1) % 10 == 0:
            print(f'Epoch {epoch+1}/{epochs}, Loss: {running_loss/len(train_loader):.4f}')

    return model

def evaluate_pytorch_model(model, test_loader):
    model.eval()
    correct = 0
    total = 0
    with torch.no_grad():
        for inputs, labels in test_loader:
            outputs = model(inputs)
            predicted = (outputs > 0.5).float()
            total += labels.size(0)
            correct += (predicted == labels).sum().item()

    accuracy = 100 * correct / total
    print(f'Accuracy on test data: {accuracy:.2f}%')
    return accuracy

# Create and train the functional model
print("Training Functional API Model:")
functional_model = ANN(input_size=input_size, hidden=hidden, output=output)
functional_model = train_function(functional_model, train_loader=train_loader)
print("PyTorch Functional Model Evaluation:")
func_accuracy = evaluate_pytorch_model(functional_model, test_loader)

# Create and train the sequential model
print("\nTraining Sequential API Model:")
sequential_model = ANNSequential(input_size=input_size, hidden=hidden, output=output)
sequential_model = train_function(sequential_model, train_loader=train_loader)
print("PyTorch Sequential Model Evaluation:")
seq_accuracy = evaluate_pytorch_model(sequential_model, test_loader)

# Compare models
print("\nModel Comparison:")
print(f"PyTorch Functional Model: {func_accuracy:.2f}%")
print(f"PyTorch Sequential Model: {seq_accuracy:.2f}%")

Training Functional API Model:
Epoch 10/100, Loss: 0.3485
Epoch 20/100, Loss: 0.3345
Epoch 30/100, Loss: 0.3238
Epoch 40/100, Loss: 0.3187
Epoch 50/100, Loss: 0.3103
Epoch 60/100, Loss: 0.2999
Epoch 70/100, Loss: 0.3029
Epoch 80/100, Loss: 0.2955
Epoch 90/100, Loss: 0.2935
Epoch 100/100, Loss: 0.2890
PyTorch Functional Model Evaluation:
Accuracy on test data: 83.43%

Training Sequential API Model:
Epoch 10/100, Loss: 0.3479
Epoch 20/100, Loss: 0.3415
Epoch 30/100, Loss: 0.3282
Epoch 40/100, Loss: 0.3186
Epoch 50/100, Loss: 0.3090
Epoch 60/100, Loss: 0.2965
Epoch 70/100, Loss: 0.2880
Epoch 80/100, Loss: 0.2846
Epoch 90/100, Loss: 0.2823
Epoch 100/100, Loss: 0.2808
PyTorch Sequential Model Evaluation:
Accuracy on test data: 84.17%

Model Comparison:
PyTorch Functional Model: 83.43%
PyTorch Sequential Model: 84.17%